@import "variable.css";
@import "index/header.css";
@import "index/footer.css";

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
:root {
  --entry: 1s;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Roboto', sans-serif;
}

.restaurant-image {
  width: 100%;
  z-index: 1;
}


.menu {
  margin-top: -60px;
  z-index: 2;
  background: #efefef;
  position: relative;
  border-radius: 40px 40px 0 0;
}

.menu-container {
  padding: 0 20px;
}

.menu-title-container {
  padding-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-name {
  font-family: var(--title-font);
  font-size: 34px;
}


.menu-title-container .menu-title-icon {
  color: var(--primary);
  -webkit-text-stroke-width: 0;
}
.menu-title-container .menu-title-icon {
  padding-right: 15px;
  transition: all 0.3s ease-in;
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-color: grey;
  -webkit-text-stroke-width: 1px;
}

.menu-section {
  padding: 20px 0;
}

.menu-section-title {
  text-transform: uppercase;
  font-weight: 300;
}
.menu-section-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin-top: 10px;
  background-color: var(--tertiary);
}

.menu-section-items-container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu-item-overlay {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.item-background {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu-item {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 15px;
  animation-duration: var(--entry);
  animation-name: slideIn;
  position: relative;
}

.menu-item:nth-of-type(2) {
  animation-duration: calc(var(--entry) * 2);
}

.menu-item:nth-of-type(3) {
  animation-duration: calc(var(--entry) * 3);
}

.menu-item:nth-of-type(4) {
  animation-duration: calc(var(--entry) * 4);
}

.item-title-container {
  font-weight: 700;
  font-size: 20px;
}

.item-title {
  font-family: var(--body-font);
  font-size: 22px;
  margin: 0;
}

.item-desc-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.item-desc {
  color: var(--light-grey-text);
  font-size: 16px;
  margin: 0;
}

.item-price {
  font-weight: 700;
  margin: 0;
}

.order-button-container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}



.order-button {
  font-weight: 700;
  background: var(--purple-gradient);
  font-family: var(--body-font);
  color: white;
  padding: 20px 100px;
  border: 0;
  border-radius: 50px;
}

.menu-item:hover .checkbox {
  max-width: 200px;
}

.menu-item:hover i.fa-check-circle {
  animation-name: spin;
  animation-duration: 0.3s;
}

.checkbox {
  transition: max-width 0.3s ease-in-out;
  background: var(--tertiary);
  position: relative;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  max-width: 0;
}

.fa-check-circle {
  color: white;
}

.item-details {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
}