@import "variable";
@import "includes/loading";
@import "includes/header";
@import "includes/location";
@import "includes/cta";
@import "includes/restaurants";
@import "includes/works";
@import "includes/footer";

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
button {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

.container {
  padding: 10px 20px;
}

.section-heading {
  font-weight: 700;
  font-size: 24px;
}
