header {
  padding: 20px 0;
  box-shadow: 0 0 10px 0px var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-left-arrow {
  font-size: 30px;
}

.logo {

}

.logo-link {

}



