.loading-container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: white;
  position: fixed;
  display: none;
  opacity: 0;
  z-index: 2;
  animation: fadeOut 2s ease-in-out;
  animation-iteration-count: 1;
}
.spinner {
  animation: rotate 2s linear;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  animation-iteration-count: 2;
}
.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  animation-iteration-count: 2;
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

