.restaurant-card-list-container li {
  width: 100%;
}

.restaurant-card {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  border-radius: 17px;
  margin: 20px 0;
}

.restaurant-card, .restaurant-card-link {
  width: inherit
}

.restaurant-image-container {
  position:relative;
  overflow: hidden;
  border-radius: 17px 17px 0 0;
  height: 230px;
}

.restaurant-card-list-container {
  display: flex;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
}


img {
  width: 100%;
  object-fit: cover;
}

.restaurant-title {
  font-weight: 800;
  font-size: 22px;
  margin: 0;
}

.restaurant-city {
  font-size: 22px;
  margin: 0;
}


.restaurant-card-bottom-container {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-card-content-container {
  display: flex;
  flex-direction: column;
}

.restaurant-card .restaurant-card-icon:hover {
  color: purple;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0;
}

.restaurant-card .restaurant-card-icon {
  color: transparent;
  -webkit-text-stroke-color: gray;
  -webkit-text-stroke-width: 1px;
  transition: all 0.3s ease-in;
}

.status-container {
  box-sizing: border-box;
  position: absolute;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.status {
  padding: 5px 20px;
  background-color: var(--green-background);
  color: var(--dark-green);
}

.restaurant-card:hover .restaurant-title {
  color: var(--primary);
}

.loading-screen {
  background: #FFFFFF;
  position: relative;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}

.restaurant-card:hover {
  background-color: #f2f2f2;
}


@media (min-width: 1200px){

  .restaurant-card-list-container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .restaurant-card-list-container li  {
    width: 49%;
    display: inline-block;
  }

  .restaurant-card-link {
    width: 100%;
  }
}