.restaurant-card-list-container li {
  width: 100%;
}

.restaurant-card {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  border-radius: 17px;
  margin: 20px 0;
}

.restaurant-card, .restaurant-card-link {
  width: inherit
}
.new {
  display: none;
}

.restaurant-image-container {
  display: flex;
  overflow: hidden;
  border-radius: 17px 17px 0 0;
  height: 230px;
}

.restaurant-card-list-container {
  display: flex;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
}


img {
  width: 100%;
  object-fit: cover;
}

.restaurant-title {
  font-weight: 800;
  font-size: 22px;
  margin: 0;
}

.restaurant-city {
  font-size: 22px;
  margin: 0;
}


.restaurant-card-bottom-container {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-card-content-container {
  display: flex;
  flex-direction: column;
}

.restaurant-card i.fa-heart:hover {
  color: purple;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0;
}

.restaurant-card i.fa-heart {
  color: transparent;
  -webkit-text-stroke-color: gray;
  -webkit-text-stroke-width: 1px;
  transition: all 0.3s ease-in;
}
