.btn {
  display: block;
  position: relative;
  margin: 0 auto;
  font-weight: 600;
  width: 300px;
  padding: 20px 0;
  font-size: 18px;
  letter-spacing: 1.5px;
  border-radius: 25px;
  border: 0;
  z-index: 1;
  text-align: center;
  transition: all 250ms;
  &:hover {
    transform: scale(1.1);
    &:after {
      background: $btn-background-darkened;
      opacity: 1;
    }
  }
  &:after {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
}

.btn-primary {
  color: white;
  background: $primary-btn-background-color;
}
