.loading-container {
  width: 100vw;
  height: 130vh;
  justify-content: center;
  align-items: center;
  background: white;
  position: fixed;
  display: flex;
  transform: translateY(-200vh);
  opacity: 1;
  z-index: 2;
  animation: 3s ease-in 0s 1 fadeOut;
}

.spinner {
  animation: 2s linear rotate;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  animation-iteration-count: 2;
}

.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  animation: 1.5s ease-in-out infinite dash;
  animation-iteration-count: 2;
}

@keyframes fadeOut {
  0% {
    transform: translateY(-30)
  }

  70% {
    transform: translateY(-30)
  }

  100% {
    transform: translateY(-200vh)
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}