.restaurant-card__list-container li {
  width: 100%;
}

.restaurant-card {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  border-radius: 17px;
  margin: 20px 0;
}

.restaurant-card,
.restaurant-card__link {
  width: inherit;
}

.restaurant-card__image-container {
  position: relative;
  overflow: hidden;
  border-radius: 17px 17px 0 0;
  height: 230px;
}

.restaurant-card__list-container {
  display: flex;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.restaurant-card__title {
  font-weight: 800;
  font-size: 22px;
  margin: 0;
}

.restaurant-card__city {
  font-size: 22px;
  margin: 0;
}

.restaurant-card__bottom-container {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-card__content-container {
  display: flex;
  flex-direction: column;
}

.restaurant-card .restaurant-card-icon:hover {
  color: #9356dc;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0;
}

.restaurant-card .restaurant-card-icon {
  color: transparent;
  -webkit-text-stroke-color: gray;
  -webkit-text-stroke-width: 1px;
  transition: all 0.3s ease-in;
}

.restaurant-card__status-container {
  box-sizing: border-box;
  position: absolute;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.status {
  padding: 5px 20px;
  background-color: $green-background;
  color: $dark-green;
}

.restaurant-card:hover .restaurant-title {
  color: $primary;
}

.loading-screen {
  background: #ffffff;
  position: relative;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}

.restaurant-card:hover {
  background-color: #f2f2f2;
}

@media (min-width: 1200px) {
  .restaurant-card__list-container {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .restaurant-card__list-container li {
    width: 49%;
    display: inline-block;
  }

  .restaurant-card__link {
    width: 100%;
  }
}
