.works__steps {
  display: flex;
  flex-direction: column;
  padding: 0;
  @media (min-width: 1080px) {
    flex-direction: row;
    justify-content: space-between;

    li {
      width: 30%;
    }
  }
}

.step-card {
  align-items: center;
  display: flex;
  border-radius: 25px;
  box-shadow: 0 3px 6px 2px rgb(0 0 0 / 10%);
  margin: 10px 0;
  padding: 10px;
  height: 80px;
}

.works__steps li::marker {
  content: none;
}

.step-card__number {
  background-color: $primary;
  padding: 4px 8px;
  display: inline;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  position: relative;
  left: -20px;
}

.step-card__content-container {
  padding: 10px;
}

.step-card__content {
  display: inline;
}

.step-card__content-icon {
  padding-right: 10px;
}

.step-card__content-icon,
.step-card__content {
  color: $text-dark-grey;
  font-size: 20px;
  font-weight: 700;
}

#works li:hover .step-card__content-icon {
  color: $primary;
}
