@import "../utils/variables";
@import "../layouts/header";
@import "../components/button";
@import "../layouts/footer";

.container {
  padding: 10px 20px;
}

.section-heading {
  font-weight: 700;
  font-size: 24px;
}

.cta__heading-text {
  font-weight: 800;
  text-align: center;
  font-size: 28px;
}

.cta__sub-text {
  color: $light-grey-text;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.fa-map-marker {
  margin-top: -10px;
  width: 30px;
}

.loading-container {
  width: 100vw;
  height: 130vh;
  justify-content: center;
  align-items: center;
  background: white;
  position: fixed;
  display: flex;
  transform: translateY(-200vh);
  opacity: 1;
  z-index: 2;
  animation: 3s ease-in 0s 1 fadeOut;
}

.spinner {
  animation: 2s linear rotate;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  animation-iteration-count: 2;
}

.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  animation: 1.5s ease-in-out infinite dash;
  animation-iteration-count: 2;
}

@keyframes fadeOut {
  0% {
    transform: translateY(-30vh);
  }

  70% {
    transform: translateY(-30vh);
  }

  100% {
    transform: translateY(-200vh);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

#location {
  background-color: $grey-background;
}

#location i {
  color: $text-dark-grey;
}

.location__text {
  font-weight: 700;
  text-align: center;
  color: $text-dark-grey;
  font-size: 12px;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restaurant-card__list-container li {
  width: 100%;
}

.restaurant-card {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  border-radius: 17px;
  margin: 20px 0;
}

.restaurant-card,
.restaurant-card__link {
  width: inherit;
}

.restaurant-card__image-container {
  position: relative;
  overflow: hidden;
  border-radius: 17px 17px 0 0;
  height: 230px;
}

.restaurant-card__list-container {
  display: flex;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.restaurant-card__title {
  font-weight: 800;
  font-size: 22px;
  margin: 0;
}

.restaurant-card__city {
  font-size: 22px;
  margin: 0;
}

.restaurant-card__bottom-container {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-card__content-container {
  display: flex;
  flex-direction: column;
}

.restaurant-card .restaurant-card-icon:hover {
  color: #9356dc;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0;
}

.restaurant-card .restaurant-card-icon {
  color: transparent;
  -webkit-text-stroke-color: gray;
  -webkit-text-stroke-width: 1px;
  transition: all 0.3s ease-in;
}

.restaurant-card__status-container {
  box-sizing: border-box;
  position: absolute;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.status {
  padding: 5px 20px;
  background-color: $green-background;
  color: $dark-green;
}

.restaurant-card:hover .restaurant-title {
  color: $primary;
}

.loading-screen {
  background: #ffffff;
  position: relative;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}

.restaurant-card:hover {
  background-color: #f2f2f2;
}

@media (min-width: 1200px) {
  .restaurant-card__list-container {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .restaurant-card__list-container li {
    width: 49%;
    display: inline-block;
  }

  .restaurant-card__link {
    width: 100%;
  }
}

.works__steps {
  display: flex;
  flex-direction: column;
  padding: 0;
  @media (min-width: 1080px) {
    flex-direction: row;
    justify-content: space-between;

    li {
      width: 30%;
    }
  }
}

.step-card {
  align-items: center;
  display: flex;
  border-radius: 25px;
  box-shadow: 0 3px 6px 2px rgb(0 0 0 / 10%);
  margin: 10px 0;
  padding: 10px;
  height: 80px;
}

.works__steps li::marker {
  content: none;
}

.step-card__number {
  background-color: $primary;
  padding: 4px 8px;
  display: inline;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  position: relative;
  left: -20px;
}

.step-card__content-container {
  padding: 10px;
}

.step-card__content {
  display: inline;
}

.step-card__content-icon {
  padding-right: 10px;
}

.step-card__content-icon,
.step-card__content {
  color: $text-dark-grey;
  font-size: 20px;
  font-weight: 700;
}

#works li:hover .step-card__content-icon {
  color: $primary;
}
