@import "../utils/variable";
@import "../components/header";
@import "../components/footer";
$entry: 1s;
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.restaurant-image {
  height: 176%;
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  z-index: 1;
}
.menu {
  background: #efefef;
  border-radius: 40px 40px 0 0;
  margin-top: -60px;
  position: relative;
  z-index: 2;
}
.menu__container {
  padding: 0 20px;
}
.menu__title-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  position: relative;
}
.menu__restaurant-name {
  font-family: $title-font;
  font-size: 34px;
}
.menu__title-container .title-icon:hover {
  -webkit-text-stroke-width: 0;
  color: $primary;
}
.menu__title-container .title-icon {
  -webkit-text-stroke-color: grey;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  font-size: 24px;
  padding-right: 15px;
  transition: all 0.3s ease-in;
}
.course {
  padding: 20px 0;
}
.course__title {
  font-weight: 300;
  text-transform: uppercase;
}
.course__title::after {
  background-color: $tertiary;
  content: "";
  display: block;
  height: 2px;
  margin-top: 10px;
  width: 40px;
}
.course__items-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.item-overlay {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.item-background {
  height: 100%;
  position: relative;
  width: 100%;
}
.item {
  animation-duration: $entry;
  animation-name: slideIn;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.item__desc {
  margin: 0;
}
.item:nth-of-type(2) {
  animation-duration: calc($entry * 2);
}
.item:nth-of-type(3) {
  animation-duration: calc($entry * 3);
}
.item:nth-of-type(4) {
  animation-duration: calc($entry * 4);
}
.item__content-container {
  flex-basis: 66%;
  align-content: space-between;
}
.item__title {
  font-family: $body-font;
  font-size: 22px;
  margin: 0;
}
.item__price-container {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.item__desc {
  color: $light-grey-text;
  font-size: 16px;
  margin: 0;
  flex: 90% 0 0;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item___price {
  font-weight: 700;
  margin: 0;
}
.order-button__container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.order-button {
  background: $secondary;
  border-radius: 50px;
  border: 0;
  color: white;
  font-family: $body-font;
  font-weight: 700;
  padding: 20px 100px;
  position: relative;
  transition: all 250pms;
  z-index: 1;

  &:hover {
    transform: scale(1.1);

    &:after {
      opacity: 1;
    }
  }
  &:after {
    background-color: darken($secondary, 5);
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 250ms;
    z-index: -1;
  }
}
.item:hover .checkbox {
  max-width: 200px;
}
.item:hover i.fa-check-circle {
  animation-duration: 0.3s;
  animation-name: spin;
}
.checkbox {
  align-items: center;
  background: $tertiary;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  max-width: 0;
  position: relative;
  transition: max-width 0.3s ease-in-out;
  width: 80px;
}
.fa-check-circle {
  color: white;
  font-size: 20px;
}
.item__details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 20px;
  width: 100%;
}
.left-link {
  color: black;
  left: 9vw;
  position: absolute;
}
.left-link:visited {
  color: black;
}
@media (min-width: 768px) {
  .restaurant-image-background {
    height: 450px;
  }
}
@media (min-width: 769px) {
  .course__items-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .item {
    flex-basis: 33%;
  }
}
