.menu-section {
  padding: 0 40px;
}

.menu-section-title {
  text-transform: uppercase;
  margin-left: 5px
}

.menu-section-title::after {
  content: "";
  width: 40px;
  height: 3px;
  margin-top: 10px;
  display: block;
  background: cyan;
}

.menu-item {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.menu-item-title {
  font-weight: 700;
  font-size: 20px;
}

.menu-item-desc {
  font-weight: 400;
  font-size: 16px;
}

.menu-item-price {
  font-weight: 700;
  margin-right: 20px;
}

.menu-desc-section {
  display: flex;
  justify-content: space-between;
}

.order-button-container {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.order-button {
  padding: 20px 80px;
  border-radius: 25px;
  border:0;
  background: purple;
  color: white;
}